.container{
    margin-top: 80px;
    margin-bottom: 30px;
}

.bNum{
    width: 150px;
}

.gr1 {
  display: grid; /* 1 */
  grid-template-columns: 1fr 1fr 1fr; /* 2 */
  grid-template-rows: 20vh; /* 3 */
}

.gr2 {
  display: grid; /* 1 */
  grid-template-columns: 1fr 1fr 1fr; /* 2 */
  grid-template-rows: 20vh; /* 3 */
}